/* ----------------------------------------------------------------------------------- */
/* Composants générale*/
/* ----------------------------------------------------------------------------------- */
@font-face {
    font-family: 'orator';
    src: url('../fonts/orator-std.eot');
    src: url('../fonts/orator-std.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orator-std.woff2') format('woff2'),
         url('../fonts/orator-std.woff') format('woff'),
         url('../fonts/orator-std.ttf') format('truetype'),
         url('../fonts/orator-std.svg#advent_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
*{
	font-size:0px;
}

body{
	background-color: #ffffff;
}
html{
	font-size:1px;
}
span.categorie{
	font-family: 'Calibri';
	text-transform: uppercase;
	font-weight: bold;
	font-size:12rem;
}
h1{
	font-family: 'orator';
	font-size:30rem;
	margin: 20rem 0rem 30rem 0rem;
}
h1.partie{
	font-family: 'orator';
	font-size:48rem;
	margin: 20rem 0rem 30rem 0rem;
}
h2{
	font-family: 'orator';
	font-size:30rem;
	margin: 20rem 0rem 30rem 0rem;
}
p{
	font-size:16rem;
	line-height: 24rem;
	margin: 0rem 0rem 20rem 0rem;
	font-family: 'Courier New';
}
a{
	font-family: 'Courier New';
	font-size:16rem;
	margin: 0rem 0rem 20rem 0rem;
}
button{
	background-color: #282828;
	color: white;
	font-family: 'Courier New';
	font-size:16rem;
	padding: 15rem 50rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	/* margin: 0rem 0rem 20rem 0rem; */
}
/* ----------------------------------------------------------------------------------- */
/* navigation header*/
/* ----------------------------------------------------------------------------------- */
.site-header {
	display: flex;
	background-color: white;
	position: sticky;
	z-index:1;
	top: 0;
	padding: 30px 85px 30px 85px;
	justify-content: space-between;
	align-items: center;
	margin:auto;
	height: 75rem;
	}
.navigation{
	display:flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index:  2;
	align-items: center;
	background-color: white;
}
.navigation-open{
	position: sticky;
	z-index:  2;
}
.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 510rem;
	height: 100%;
	padding: 50rem 100rem;
	background-color:#fff;
}


.main-nav li {
	display: block;
	font-size: 20px;
	margin: 10px 0;
}

.main-nav li a {
	color: grey; /*pas la bonne couleur*/
	text-decoration: none;
}
.burger-nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.nav{
	margin-left:20px;	
}
.nav a{
	text-decoration: none;
	color: grey; /*pas la bonne couleur*/
}
#burger-nav{
	width:18px;
	height:18px;
	cursor: pointer;
  }

/* Burger visuel   */
#burger-nav span {
	display: block;
	position: absolute;
	height: 2px;
	width: 30px;
	background: grey;
	opacity: 1;
	left: 0;
  }
  #burger-nav span:nth-child(1) {
	top: 0px;
  }
  
  #burger-nav span:nth-child(2),#burger-nav span:nth-child(3) {
	top: 8px;
  }
  
  #burger-nav span:nth-child(4) {
	top: 16px;
  }

	button {
  		border: none;
  		color: white;
  		padding: 15rem 50rem;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16rem;
  		margin: 4rem 2rem;
  		cursor: pointer;
  		-webkit-transition-duration: 0.4s; /* Safari */
  		transition-duration: 0.4s;
}
.bouton-nav{
	text-decoration: none;
	color: white;	
}
/* ----------------------------------------------------------------------------------- */
/* header*/
/* ----------------------------------------------------------------------------------- */
.header{
	display:flex;
	align-items: center;
	align-content: center;
	position:relative;
	width:100%;
	background-color: #f5f5f5;
}
.image-header1{
	position: absolute;
	top:100rem;
	left:90rem;
	z-index:inherit 3;
	width:25%;
}
.image-header2{
	position: absolute;
	top:100rem;
	right:90rem;
	z-index: inherit 3;
	width:25%;
}
.intro-header{
	text-align: center;
	width:40%;
	background-color: #f5f5f5;
	margin: auto;
	padding: 15% 0% 20% 0%;
}
.ancre-presentation-produit{
	height: 75rem;
}
/* ----------------------------------------------------------------------------------- */
/* body 1ere partie présentation générale*/
/* ----------------------------------------------------------------------------------- */
.presentation-ma{
    display:flex;
    z-index: inherit 3;
	flex-direction: row;
	align-items:center;
	width:100%;
}
.presentation-ma:nth-child(even){
	display:flex;
	flex-direction: row-reverse;
	align-items:center;
	width:100%
}
.presentation-interchangeable{
	display:flex;
	align-items:center;
	align-content:center;
	position: relative;
    width:100%;
    height: 470rem;
	background-color: #f5f5f5;
}
.image-ma{
	width:50%;
	background-color: #f5f5f5;
}
.texte-ma{
	text-align: center;
	width:50%;
	padding:0rem 30rem 0rem 30rem;
}
.image-systeme-ma1{
	position: absolute;
	top:0rem;
	left:0rem;
    z-index: inherit;
	width:30%;
}
.image-systeme-ma2{
	position: absolute;
	bottom:0rem;
	right:0rem;
    z-index: inherit;
	width:30%;
}
.texte-interchangeable{
	text-align: center;
	width:50%;
	margin:auto;
}
/* ----------------------------------------------------------------------------------- */
/* body 2ème partie Présentation des produits*/
/* ----------------------------------------------------------------------------------- */
.presentation-produit{
	margin: 0 8% 0 8%;
}
.partie{
	text-align: center;
	margin:50rem 0rem 100rem 0rem;
}
article{
	display:flex;
	flex-direction: row;
	align-items: center;
	width:100%;
	margin: 180rem auto 180rem auto;
}
article:nth-child(odd){
	
	display:flex;
	flex-direction: row-reverse;
	align-items: center;
	width:100%;
}
.slide-produit{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #f5f5f5;
	flex-basis:50%;
	padding: 145rem 0rem 145rem 0rem;
}
/* Changement de bracelet couleur avec javascript*/
.bracelet {
	display: flex;
  }
  .bracelet-simple{
	  visibility: hidden;
  }
  .active{
	  visibility: visible;
  }
  .active-pastille{
	  border:1rem solid #969696;
	  border-radius:50px;
	  text-decoration : none;
	  padding: 2rem 2rem;
  }
/* fin Changement de bracelet couleur avec javascript*/

/* Changement de bracelet couleur avec :target*/
.bracelet_simple {
	border: 0;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
.bracelet_simple:target{
	position: relative;
	height: auto;
	padding: initial;
	clip: initial;
	
}
.bracelet_double {
	border: 0;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /*IE6 & IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.bracelet_double:target{
	position: relative;
	height: auto;
	padding: initial;
	clip: initial;
	
}
.bracelet_boucle {
	border: 0;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); IE6 & IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.bracelet_boucle:target{
	position: relative;
	height: auto;
	padding: initial;
	clip: initial;
	
}
.galerie_mini{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:5% auto 0% auto;
	padding: 0% 10% 0% 10%;
}

.description-produit-bracelet-simple,.description-produit-bracelet-simple-rallye{
	text-align: center;
	flex-basis: 50%;
	padding:0% 1% 0% 10%;
}
.description-produit-bracelet-double-tour,.description-produit-bracelet-simple-boucle-deployante{
	text-align: center;
	flex-basis: 50%;
	padding:0% 10% 0% 1%;
}

ul, li {
	display: inline-block;
}
/* essai pastille */

.multi-coloris {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: auto;
/* padding: 0% 30% 0% 30%; */

}
.description-produit-bracelet-simple-boucle-deployante .multi-coloris{
    padding: 0% 30% 0% 30%;
}
.multi-coloris li{
    display: inherit;
}
.multi-coloris a{
    font-size:0px;
}
.multi-coloris:focus{
    border:1px solid #969696;
    padding:2rem 2rem;
    border-radius: 35px;
    font-size:0px;
}
.multi-coloris a:hover:not(.active){
    border:1px solid #969696;
    padding:2rem 2rem;
    border-radius: 35px;
    font-size:0px;
}  

/* ----------------------------------------------------------------------------------- */
/* Body 3eme partie Formulaire prise de rendez-vous*/
/* ----------------------------------------------------------------------------------- */
#formulaire{
height:75rem;
}
.formulaire{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 200rem;
}
.formulaire form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
}
input{
	font-size:14rem;
}
.formulaire input{
	margin:20rem 0rem 20rem 0rem;
	width:40%;
	padding:1%;
}
footer{
	background-color: #ffffff;
	margin: 0 8% 0 8%;
}
.geolocalisation{
	background: transparent;
	border: none;
	color: black;
	padding: 0rem;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 14rem;
}
.footer-copyright-media-sociaux{
	display: flex;
	flex-direction: row-reverse;
    align-items: center;
	justify-content: space-between;	
	width: 100%;
	border-top: 1px solid #e5e5e5;
}
#facebook,#instagram,#twitter,#youtube{
	width: 24rem;
	height: 24rem;
	fill:#696969;
	margin-left: 15rem;
}
.footer-logo{
display: flex;
flex-direction: column;
margin: 50rem 0rem;
}